<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-page">
    <form method="POST" class="login-form">
        <h2>🔐 Вход в админ-панель</h2>

        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <button type="submit">Войти</button>
    </form>
</body>
</html>
